<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Welcome !{% endblock %} - Symfony By Boisseau</title>
    <meta charset="utf-8">

    {%  block stylesheets %}
        {{  encore_entry_link_tags('app') }}
    {% endblock %}

    {%  block javascripts %}
        {{  encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="layout" style="display: grid; grid-template-rows: auto 1fr auto; height: 100vh; margin: 0;">
<header>
    {% include "_partials/_nav.html.twig" %}
</header>

{% block main %}{% endblock main %}

<footer>
    {% include "_partials/_footer.html.twig" %}
</footer>
</body>
</html>